---
const pageTitle = "About Me";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Landing Page</a>
        <a href="/about/">{pageTitle}</a>
		<h1>{pageTitlenp}</h1>
        <h2>I'm an Idiot</h2>
        <p>It's true! It is the year of our Lord 2024 and I have only just realised there's a better way to make a website than pure HTML/CSS.</p>
	</body>
</html>
