---
const {href} = Astro.props;
---
<div class="w-fit p-2 border-2 ml-[10px] transition border-gray-600 text-gray-600 shadow-button hover:shadow-button_hover hover:border-green-400 hover:text-green-400 hover:cursor-pointer">
    <a href={href} class=>
        <p class="font-heading text-2xl"><slot /></p>
    </a>
</div>