---
import Button from "./Button.astro"
---
<div class=" p-6 flex flex-row justify-evenly w-screen sticky top-0 bg-white z-10">
        <Button href="">Home</Button>
        <Button href="about">About</Button>
        <Button href="">My Projects</Button>
        <Button href="">Contact</Button>
        <Button href="">DevBlog</Button>
        <Button href="">Silly Science</Button>
</div>
