---
import Button from "./Button.astro"
---
<div class="p-6 flex flex-row flex-wrap justify-evenly items-center w-screen space-y-5 xl:space-y-0 xl:sticky top-0 bg-white z-10">
        <Button href="/">Home</Button>
        <Button href="/about">About</Button>
        <Button href="/#projects">My Projects</Button>
        <Button href="">Contact</Button>
        <Button href="">DevBlog</Button>
        <Button href="">Silly Science</Button>
</div>
