---
const {title, href, grayscale="grayscale-0"} = Astro.props;
import Button from "./Button.astro"
---
<div class="flex flex-row items-center m-10 space-x-20">
    <div class="w-3/5">
        <p class="text-3xl text-gray-600 font-body mb-5"><strong>{title}</strong></p>
        <p class="text-xl text-gray-600 font-body"><slot /></p>
        <Button href="/">See The Project</Button>
    </div>
    <div class="w-2/5">
        <img src={href} class={grayscale} />
    </div>
</diiv>