---
const {title, href} = Astro.props;
---
<div class="flex flex-row items-center m-10 space-x-20">
    <div class="w-3/5">
        <p class="text-2xl font-body"><strong>{title}</strong></p>
        <p class="text-xl font-body"><slot /></p>
    </div>
    <div class="w-2/5">
        <img src={href} />
    </div>
</diiv>