<div class="prose mt-20 m-auto w-[60vw] max-w-none text-2xl text-gray-300 font-body prose-headings:text-gray-100 prose-h1:text-6xl prose-h2:text-4xl prose-h3:text-2xl prose-h2:underline prose-h2:decoration-green-400">
    <slot />
</div>